
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form action="/Users/Login" method="post">
            <div>
                <p>
                    <span>员工</span><input type="submit" value="1" name="ID" />
                </p>
            </div>
        </form>
    </div>
</body>
</html>
