
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="modal-body">
        <div style="height:600px;width:550px; margin:0 auto;">
            <table style="border-collapse:separate;border-spacing:10px;width: 100%">
                <tr>
                    <td style="text-align: center;font-size: 30px;font-weight: bold">中标通知书<hr /></td>
                </tr>
                <tr>
                    <td style="text-align: left;font-size:20px;">XX</td>
                </tr>
                <tr>
                    <td style="text-align: left"> “XXXX物资平台”ZY1703220001号标的开标结果为贵方中标，现通知如下：</td>
                </tr>
            </table>
            <table border="1" cellspacing="0" cellpadding="10" style="border-collapse:separate;height: 300px;">
                <tr style="text-align:center;">
                    <th>品名</th>
                    <th>资源编号</th>
                    <th>数量（吨）</th>
                    <th>中标价格（含税总金额：元）</th>
                    <th>钢厂</th>
                    <th>存放地（提货地）</th>
                </tr>
                <tr style="text-align:center;">
                    <td>冷轧窄带</td>
                    <td>ZY1703220001</td>
                    <td>25.725</td>
                    <td>47500.00</td>
                    <td>XX</td>
                    <td>XXXXXX</td>
                </tr>
                <tr>
                    <td colspan="6">备注:XXXXXX</td>
                </tr>
            </table>
            <table style="border-collapse:separate;border-spacing:10px;width: 100%">
                <tr>
                    <td style="text-align: left">
                        请贵方在收到通知书的5个工作日内交齐全额货款并签订合同。
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        特此通知。
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        XXXX物资平台
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        2017 年 4月 16 日
                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>
</html>
