@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best Question & Answer</h1>
    <p class="lead"> 基于DDD思想与ENode技术框架的问答系统</p>
    <p><a href="http://www.cnblogs.com/yubaolee" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>热门问题</h2>
        <p></p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Question")">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>热门标签</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>活跃用户</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">More &raquo;</a></p>
    </div>
</div>