
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
     <form action="/Users/Index2" method="get">
            <input type="submit" value="跳转" />
        </form>
</body>
</html>
