
@{
    ViewData["Title"] = "Add";
}

<h1>添加信息</h1>

<form method="post" action="/Home/AddDo">
    <table>
        <tr><td>用户名：</td><td><input type="text" id="UserName" name="UserName" /></td></tr>
        <tr><td>密  码：</td><td><input type="text" id="Password" name="Password" /></td></tr>
        <tr><td></td><td></td><td><input type="submit" value="提交" /></td></tr>
    </table>
</form>