
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <input type="button" value="下载" onclick="dow()" />
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    function dow() {
        window.location.href = '/test/index';
    }
</script>
